html {
  font-family: 'Nunito', Verdana, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #4a4a4a;
  font-weight: normal;
  font-size: 0.9em;
  min-width: 1024px;
}

html, body, ul {
  margin: 0;
  padding: 0;
}

article,
div,
footer,
header,
main,
nav,
section {
  box-sizing: border-box;
  display: block;
}

[hidden] {
  display: none;
}

a:active,
a:hover {
  outline: 0;
}

small {
  font-size: 80%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkfield"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

fieldset {
  margin: 0;
  border: 0;
}

legend {
  color: #979797;
  border: 0;
  padding-top: 1em;
  text-transform: capitalize;
  margin-left: -0.5em;
}

ul {
    list-style: none;
}

/* */

main {
}

header {
    background: #4A90E2;
    color: white;
    padding: 1.5em 1em 1em 1.5em;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    display: inline-block;
    margin-right: 1em;
}

.apiconsole {
    margin: 1em 1.6em;
}

.wrapper {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
    min-height: 300px;
}

.box-wrapper {
    border: 1px solid #DDDDDD;
}

.request-form {
    min-height: 500px;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    width: 50%;
    padding: 1em;
    border-right: 1px solid #DDDDDD;
    overflow: auto;
}

.right-pane {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    width: 50%;
    height: 100%;
    margin-left: -1px;
    border-left: 1px solid #DDDDDD;
}

.right-pane > .result {
    overflow: auto;
}

.request-title {
    font-size: 1em;
    margin-bottom: 0.3em;
}

.request-url {
    color: #C1C1C1;
    font-size: 0.875em;
    margin-bottom: 1em;
}

.request-url > span {
    letter-spacing: normal;
}

.endpoint-selector {
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 1em 1em 1em 0;
}

.dropdown {
    display: inline-block;
    margin: 0 1em 0 0;
    width: 50%;
    max-width: 600px;
    font-size: 1em;
    position: relative;
    color: #4a4a4a;
    field-shadow: 0 0 1px #9b9b9b;
    border-radius: 4px;
    border: 1px solid #C7DEF9;
    background: white;
}

.dropdown > span {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0.4em 0.6em;
    cursor: pointer;
}

.dropdown > span:after {
    position: absolute;
    right: 0.8em;
    content: ' \25bc';
    color: #CCCCCC;
    font-size: 12px;
    margin-top: 0.2em;
}

.dropdown > ul {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin-top: 2px;
    display: none;
    z-index: 100;
    box-shadow: 0 1px 10px 1px #EAEAEA;
}

.dropdown > ul > li {
    padding: 0.8em 0.2em 0.5em 1.2em;
    font-size: 0.95em;
    color: #555;
    border-bottom: 1px solid #F1F1F1;
}

.dropdown > ul > li:hover {
    background: #CEE2F9;
    cursor: pointer;
}

.param-type-wrapper > fieldset, .param-type-wrapper > div {
    margin: 1em 0.5em 1.4em 0;
}

.param-type-wrapper::before {
    padding: 1em 0.66em;
    cursor: pointer;
    border-bottom: 1px solid #DDD;
    text-shadow: 1px 1px #ddd;
    width: 200px;
    color: #777;
}

.param-type-wrapper.query::before {
    content: "Query Param"
}

.param-type-wrapper.form::before {
    content: "Form Param"
}

.param-type-wrapper.path::before {
    content: "Path Param"
}

.param-type-wrapper.headers::before {
    content: "Headers"
}

.param-type-wrapper.cookies::before {
    content: "Cookies"
}

.param-type-wrapper.files::before {
    content: "Files"
}

.param-type-wrapper:empty {
    display: none;
}

.field {
    padding: 0.25em 1em 0 0.2em;
    margin-bottom: 0.4em;
    min-height: 1.875em;
}

/*.field:last-child {
    margin-bottom: 0;
}*/

.field.array-input {
    padding: 0;
}

.field:nth-child(even) {
    border-left: 5px solid #C8ECA3;
}

.field:nth-child(odd) {
    border-left: 5px solid #B7D6EE;
}

fieldset.field {
    border-left: 0 !important;
}

.field > .label {
    display: block;
    font-size: 1em;
    min-width: 80px;
    text-transform: capitalize;
    padding-left: 0.2em;
    margin-bottom: 0.4em;
}

.assert {
    padding: 1em;
    position: relative;
}

.assert.field > .label {
    display: block;
}

.assert-widget {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    min-width: 150px;
}

.assert-widget > input {
    width: 100%;
}

.assert select.assert-field-select, .modal-field-select {
    display: inline-block;
    width: 80%;
    max-width: 370px;
    margin-bottom: 1em;
    background: #FFFFFF;
    border: none;
    border-bottom: 2px solid #CEE2F9;
    height: 2em;
    padding: 0.2em;
}

.field-assertion > select, .sum-wrapper > select {
    background: white;
    padding: 0.35em 0.6em;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.875em;
    outline: 0 none;
    margin-right: 1em;
    margin-left: 0.6em;
    border: 1px solid #CEE2F9;
    width: 30%;
    max-width: 200px;
}

.field-assertion .text-box {
    border: 1px solid #CEE2F9;
    width: 60%;
    max-width: 300px;
    box-shadow: none;
    margin-bottom: 0.5em;
}

.disabled-assert {
    pointer-events: none;
    color: #AAAAAA;
}

.disabled-assert > input {
    background: #EEEEEE;
}

.assert-pass {
    background-image: url(../img/assert-tick.png);
}

.assert-fail {
    background-image: url(../img/assert-cross.png);
}

.assert-pass, .assert-fail {
    height: 1.5em;
    width: 1.5em;
    background-size: cover;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.5em;
}

.nested-field {
    padding: 0;
    padding-left: 0.3em;
}

.text-box {
    border: 1px solid #CEE2F9;
    padding: 0.5em 0.6em;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.875em;
    outline: 0 none;
    width: 90%;
    max-width: 300px;
    margin-bottom: 1em;
}

.text-box:focus {
    border: 1px solid #129FEA;
}

.field > .text-box {
    width: 69%;
}

.maybe-wrapper > input[type="checkbox"] {
    margin-right: 1em;
}

.sum-wrapper > select {
    width: auto;
}

.sum-ty > fieldset > legend {
    display: none;
}

.sum-ty > fieldset > .field {
    border: 0;
    margin-bottom: 0;
}

.send {
    text-align: center;
    background: #4A90E2;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 0;
    margin-left: 2em;
    text-transform: uppercase;
    width: 120px;
    cursor: pointer;
}

.send:hover {
    box-shadow: 2px 2px 2px #CCCCCC;
}

.div-head {
    border-bottom: 1px solid #DFDFDF;
    padding: 1em;
    position: relative;
}

.div-head:before {
    content:'';
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #DFDFDF;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.div-head:after {
    content:'';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #FFFFFF;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.div-head > .tab {
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    color: #9B9B9B;
    margin-right: 3em;
    padding: 0.3em 1.5em;
    cursor: pointer;
}

.div-head > .tab.active {
    display: inline-block;
    border: 1px solid #4A90E2;
    color: #4A90E2;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.sum-wrapper {
    display: inline-block;
    vertical-align: top;
}

.sum-wrapper > .sum-ty {
    display: none;
}

.sum-wrapper > .sum-ty.active {
    display: block;
}

.list-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    max-width: 320px;
}

.list-wrapper > input {
    width: 85%;
}

.list-wrapper > .plus-button {
    margin-left: 0.5em;
}

.assert-remove {
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    font-size: 1.5em;
    margin-left: 0.8em;
    display: none;
}

.assert:hover > .assert-remove {
    display: inline-block;
}

.title-text {
    color: #9B9B9B;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 0.875em;
    min-width: 80px;
}

.plus-button, .cross-button {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    color: #4A90E2;
    cursor: pointer;
}

.cross-button {
    transform: rotate(45deg);
    display: inline-block;
    margin-left: 0;
}

.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(250,250,250,0.6);
  padding: 2em 1.5em;
  text-align: center;
  z-index: 100;
}

.assertion-modal {
    text-align: left;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 1px 10px 1px #EAEAEA;
    min-width: 400px;
    max-width: 600px;
    top: 1em;
    max-height: 100%;
    /*height: 550px;*/
    background: white;
    margin: auto;
}

.field-selection-tree {
  list-style: none;
  max-height: 180px;
  overflow-y: auto;
}

.field-selection-tree ul {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid #CCCCCC;
}

.field-selection-tree li {
  cursor: pointer;
  font-weight: normal;
}

.field-selection-tree li:hover {
  font-weight: bold;
}
.response {
  padding: 1em;
}

.modal-header {
    padding: 1em 1em 0.2em 1.5em;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 1em;
}

.modal-header > .title-text {
    color: #4A4A4A;
    text-transform: uppercase;
    margin-top: 0.8em;
}

.modal-header > .close-modal {
    color: #CCCCCC;
    font-size: 1.5em;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.close-modal:hover {
    color: #4A4A4A;
}

.modal-body {
    padding: 1em 1em 1em 1.5em;
}

.modal-field-select {
    width: 75% !important;
}

.modal-add {
    border: none;
    text-align: center;
    background: #4A90E2;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 0;
    margin-left: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-add:hover {
    box-shadow: 2px 2px 2px #CCCCCC;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}
